<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
			           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
			           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
			           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
			           http://www.springframework.org/schema/mvc  http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd"
						default-autowire="byName" default-lazy-init="false">  
	
    <context:annotation-config/>
    
    <context:component-scan base-package="com.rtm.*"></context:component-scan>  
    <bean id="userService" class="com.rtm.service.Impl.UserServiceImpl"></bean>
    
	 <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
	   <property name="locations"> <!-- PropertyPlaceholderConfigurer类中有个locations属性，接收的是一个数组，即我们可以在下面配好多个properties文件 -->  
	        <array>  
	            <value>classpath:jdbc.properties</value>  
	        </array>  
	    </property>  
	</bean> 
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"> 
	    <property name="driverClassName" value="com.mysql.jdbc.Driver" />  
	    <property name="url" value="${jdbcUrl}" />  
	    <property name="username" value="root" />  
	    <property name="password" value="root" /> 
	    <property name="maxActive" value="5" />
	     
	    <!-- <property name="minPoolSize" value="3" />  
        <property name="maxPoolSize" value="10" />  
        <property name="maxIdleTime" value="1800" />  
        <property name="acquireIncrement" value="3" />  
        <property name="maxStatements" value="1000" />  
        <property name="initialPoolSize" value="2" />  
        <property name="idleConnectionTestPeriod" value="60" />  
        <property name="acquireRetryAttempts" value="30" />  
        <property name="breakAfterAcquireFailure" value="true" />  
        <property name="testConnectionOnCheckout" value="false" />   -->
	 </bean>  
 
  	 <bean id="sessionFactory"  class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">  
        <property name="dataSource" ref="dataSource" />  
         <property name="configLocations" >  
        	<list>
           		 <value>classpath:hibernate.cfg.xml</value>  
        	</list>
        </property>  
        
        <property name="hibernateProperties">  
        	<props>
	       	 	<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>  
	            <prop key="hibernate.show_sql">true</prop>  
	            <prop key="hibernate.hbm2ddl.auto">update</prop> 
        	</props>
        </property> 
    </bean>
    
    
    
    
 </beans>